@font-face {
    font-family: 'roboto-bold';
    src: url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-medium';
    src: url('Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-regular';
    font-style: normal;
    font-weight: 400;
    src: url('Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-regular';
    font-style: normal;
    font-weight: 400;
    src: url('Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-light';
    src: url('Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
